<ion-header mode="md" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title mode="ios">Transaksi</ion-title>
  </ion-toolbar>

  <app-overlap-toolbar>
    <section class="segment">
      <ion-segment mode="ios" value="list-trx" class="app-overlap-toolbar__segment">
        <ion-segment-button class="app-overlap-toolbar__segment-button" value="list-trx">
          <ion-label>Daftar Transaksi</ion-label>
        </ion-segment-button>
        <ion-segment-button class="app-overlap-toolbar__segment-button" value="pending-trx">
          <ion-label>Belum Bayar</ion-label>
        </ion-segment-button>
      </ion-segment>
    </section>
  </app-overlap-toolbar>
</ion-header>
