<ion-header mode="md" class="ion-no-border">
  <ion-toolbar color="primary">


    <app-akun-saya-card></app-akun-saya-card>
  </ion-toolbar>

  <app-overlap-toolbar>
    <section class="buttons-wrapper">
      <ion-row class="app-overlap-toolbar-row ion-justify-content-center ion-align-items-center">
        <ion-col class="ion-no-padding">
          <button class="app-overlap-toolbar-row-button">
            <ion-icon slot="icon-only" name="wallet"></ion-icon>
            <p class="app-overlap-toolbar-row-button__title">Super Kas</p>
            <p class="app-overlap-toolbar-row-button__subtitle">Rp 0</p>
          </button>
        </ion-col>
        <div class="divider"></div>
        <ion-col class="ion-no-padding">
          <button class="app-overlap-toolbar-row-button">
            <ion-icon slot="icon-only" name="card"></ion-icon>
            <p class="app-overlap-toolbar-row-button__title">Super Koin</p>
            <p class="app-overlap-toolbar-row-button__subtitle">0</p>
          </button>
        </ion-col>
      </ion-row>
    </section>
  </app-overlap-toolbar>
</ion-header>
