<ion-header mode="md" class="ion-no-border">
  <ion-toolbar color="primary">
    <section class="primary-toolbar">
      <section class="primary-toolbar-section">
        <ion-icon class="primary-toolbar-section__icon" name="location-sharp"></ion-icon>
        <div class="primary-toolbar-section-text">
          <span class="primary-toolbar-section-text__title">Kirim ke</span>
          <span class="primary-toolbar-section-text__subtitle">Alamat Utama
            <ion-icon name="chevron-down" class="primary-toolbar-section-text__icon"></ion-icon>
          </span>
        </div>
      </section>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="share-social"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="notifications"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="cart"></ion-icon>
        </ion-button>
      </ion-buttons>
    </section>
  </ion-toolbar>

  <app-overlap-toolbar>
    <ion-searchbar class="app-overlap-toolbar__input" mode="md" placeholder="mau cari produk apa?"></ion-searchbar>
  </app-overlap-toolbar>
</ion-header>
