.primary-toolbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  &-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    &__icon {
      font-size: 1.5rem;
    }
    &-text {
      display: flex;
      flex-direction: column;

      &__title {
        font-size: smaller;
      }
      &__subtitle {
        font-weight: 600;
        line-height: 1.7rem;
      }
    }
  }
}

.app-overlap-toolbar {
  &__input {
    --background: white;
    --border-radius: 8px;
  }
}
