.jumbotron{
  &__image-slideshow{
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background: var(--ion-color-primary);
    padding: 3rem 1rem;
    margin: -2rem 0 3rem;
  }

  &__overlap-wrapper{
    margin-top: -4rem;
  }
}
