<app-beranda-header></app-beranda-header>
<ion-content fullscreen>
  <section class="jumbotron">
    <div class="jumbotron-wrapper">
      <app-image-carrousel></app-image-carrousel>
      <app-dompet-super-status></app-dompet-super-status>
    </div>
  </section>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum architecto modi maxime magnam neque corrupti tempore
    similique non, blanditiis eaque distinctio, esse aliquid nostrum ipsum perferendis. Aliquam maxime inventore dicta
    possimus perferendis at veniam, exercitationem hic facilis unde officiis harum consequatur repudiandae velit quae ex
    totam consectetur nemo nobis itaque voluptates molestias commodi? Repellat quos ipsam nesciunt, tenetur recusandae
    sed sint a laborum delectus, alias iure nobis voluptatibus exercitationem commodi eaque repellendus. Quidem aliquam
    mollitia laboriosam animi eum eius perferendis! Iure at eum doloribus tempora dicta eaque ad vel. Aliquam accusamus,
    deserunt sed repudiandae qui ducimus. Autem rem quasi minus! Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Maxime blanditiis magni veniam ut ad vitae, unde impedit quam optio rem totam rerum voluptatibus fugit,
    temporibus voluptas inventore soluta recusandae enim aspernatur sequi doloremque? Culpa nihil itaque minus ea eos
    quod voluptates dolorem, possimus molestiae! Repellat ipsum sapiente at doloribus fuga, impedit labore quas, facere,
    voluptatibus in maxime ea eum ipsam perspiciatis porro deserunt! Rerum voluptatibus, quaerat tempora corporis nam
    tempore dicta tenetur nesciunt dolores dolorem consequuntur illo quis eum alias corrupti itaque incidunt! Pariatur
    fugiat accusantium accusamus officia harum vitae, veritatis corporis adipisci sequi aut! Perferendis, blanditiis
    distinctio incidunt repellendus enim laboriosam quae, totam facere quod tempore labore ratione nulla, atque maiores
    fugiat nobis id aliquid. Possimus hic eaque sapiente illo. Quis facere a necessitatibus incidunt illo expedita
    placeat dolorem temporibus mollitia error tenetur, odit similique natus laboriosam ipsam minima maiores perferendis
    eaque facilis vitae beatae quibusdam! Dolor incidunt pariatur nisi ab eius repudiandae molestiae optio facere itaque
    aperiam. Porro saepe explicabo recusandae corporis odit non optio facere veniam, dignissimos hic, sequi amet ratione
    deleniti. Unde ipsa id illum laboriosam magnam? Voluptatem dolorem incidunt autem quae delectus fugit, ad dolorum
    quos harum maiores veritatis enim nulla soluta iure reprehenderit modi velit! Facilis itaque dolore placeat, quos
    animi nam veritatis ex. Nesciunt qui animi accusantium recusandae est optio molestias doloribus dicta dolorem, vero
    quae adipisci obcaecati ipsum unde hic temporibus autem quo fugit maxime? Alias, dolor quas praesentium modi atque
    quam quisquam molestiae suscipit nisi assumenda quod optio aut corrupti distinctio pariatur unde, consequatur,
    eveniet minus rem laborum voluptas! Totam, dolorum rerum ipsum error fugiat doloremque tempora, vitae ipsa velit
    facilis harum enim similique? Accusamus, perspiciatis tempore tenetur odio necessitatibus laborum minima ducimus
    cumque perferendis doloribus a maxime non minus id et dicta at? Ipsam in soluta voluptatibus similique inventore
    sunt laboriosam aut fugiat suscipit enim corporis voluptatem, excepturi sapiente temporibus quae reprehenderit at
    distinctio ea minus ipsa repellat, qui maxime facere porro. Voluptatum ipsum provident veritatis amet quia
    doloremque voluptates tenetur eaque sint modi maxime at voluptas maiores, dolorum eum culpa quod accusamus
    accusantium in reiciendis ducimus excepturi dolor! Alias eligendi dolore, placeat fuga eaque optio voluptatum
    excepturi molestiae vero quia libero sunt quisquam, quos nihil incidunt ad aspernatur maiores veritatis nemo eveniet
    laborum. Quasi possimus expedita rerum ea inventore quaerat explicabo at magni sit similique, facere quod eius sequi
    eos earum architecto aspernatur, labore nemo quibusdam rem numquam aperiam, facilis fuga ipsum! Repellendus,
    reprehenderit omnis aut voluptatum dolorem animi totam. Aliquam sed est consequatur distinctio temporibus expedita
    assumenda a, recusandae quod harum quasi laborum nostrum, quia placeat, debitis fugiat maxime aliquid ex natus
    laudantium quae modi! Provident ratione enim, aliquam optio perspiciatis ex vero quia assumenda corporis hic
    cupiditate sunt tempora doloribus quasi ipsa soluta amet iusto quis similique! Officia vel libero voluptas suscipit
    rem sed est minus enim quod numquam incidunt possimus esse error quos aperiam assumenda quaerat nisi eligendi
    doloribus nobis, ex velit in ullam. Dolor quo alias natus cum nulla dolores laborum reiciendis necessitatibus
    blanditiis impedit. Incidunt est quia, amet mollitia autem voluptatum beatae, nulla laboriosam exercitationem saepe
    tenetur eaque eius, aut eum dolor recusandae? Doloremque aperiam assumenda earum suscipit saepe id, ipsa magni porro
    officiis perspiciatis tenetur quod atque. Magni accusamus ex sint ducimus quibusdam quam beatae provident cupiditate
    illo dignissimos! Minima voluptates laboriosam non harum, culpa tempore autem dicta ea, repudiandae natus dolorum,
    corrupti quia! Nobis dolore quae reiciendis laboriosam sequi dicta nam quas aspernatur esse? Aliquid voluptates
    ratione ipsum aperiam temporibus! Odio repellendus neque distinctio, ducimus eum excepturi temporibus obcaecati
    adipisci? Ducimus cupiditate officia, vero vel aut minima ullam nulla tempore doloribus quia? Ipsam hic temporibus
    veniam totam cum, illum saepe neque numquam nesciunt ratione. Laborum enim, nihil accusamus fugit eius ex architecto
    blanditiis explicabo vitae sed itaque cupiditate? Expedita, deserunt! Totam quod harum labore quam, at quis, unde
    soluta autem est quasi nihil! Pariatur excepturi repellat temporibus corrupti voluptatibus, error perspiciatis vero
    itaque expedita fugit eum assumenda omnis veniam minima blanditiis facere. Quis, magnam et quia omnis earum ad
    impedit voluptatibus! Quasi, libero quos hic nisi officiis suscipit ipsa omnis enim. Inventore aperiam accusamus nam
    temporibus soluta sit, corporis ea magni maiores laboriosam distinctio aliquid. Aliquid qui non, animi iure
    architecto praesentium itaque exercitationem beatae adipisci tenetur ipsam molestiae magnam laboriosam temporibus
    nobis similique accusamus maiores voluptates blanditiis earum voluptatem sunt expedita. Libero, explicabo? Rem quos
    quo nulla magni dolorem dolorum expedita fugit, officia facere alias ex libero praesentium exercitationem quia
    mollitia commodi. Iure quibusdam ipsam sequi fugiat expedita voluptatem libero sint perspiciatis odio magni et,
    facere beatae tempora unde molestias corrupti reprehenderit culpa aliquid? Debitis a delectus quaerat velit quia
    totam quas suscipit explicabo? Tempora maxime, ea omnis impedit molestias culpa, magni expedita perferendis
    praesentium voluptatem doloribus voluptates esse delectus fuga? Natus praesentium numquam vitae voluptas molestias
    a, alias magni impedit inventore reprehenderit dolore voluptate quidem saepe quam error dolores consequuntur dolor
    earum debitis facilis ipsam. Veritatis rerum doloremque ipsam, dolorem nostrum tempora minus impedit explicabo
    tempore laborum suscipit laboriosam fugit aut, quam excepturi. Quisquam aut, provident, et quas nobis laboriosam,
    blanditiis iure consectetur magni totam perspiciatis odio! Sed, eum alias. Optio alias eveniet mollitia eos suscipit
    numquam fuga dicta accusamus vero consectetur. Nam consectetur ipsa enim blanditiis consequatur, sunt at assumenda
    odit dicta corporis soluta iusto nulla minus sint. Officia minus modi temporibus aliquam, odio rem nostrum optio ex,
    voluptatum tempora quas fuga quaerat assumenda expedita obcaecati suscipit perferendis consequuntur. Commodi natus
    perferendis repudiandae amet, blanditiis debitis. Quae, nulla ab a ea deleniti vitae molestias asperiores.
    Accusantium, vel delectus doloribus provident nam praesentium a, earum error minus cupiditate nostrum quod
    reiciendis non. Nesciunt vel libero similique nostrum sequi modi recusandae cupiditate, nemo odio deserunt, rerum
    earum doloribus magnam, labore molestiae necessitatibus voluptas dolores facere ut consequuntur voluptate est
    possimus! Minus, maiores voluptatibus! Soluta expedita est laudantium iste excepturi illum quisquam similique
    corporis ipsa facilis? Possimus voluptatem dolore quam nobis incidunt nam dolorum. Eveniet, necessitatibus voluptas
    mollitia aliquam quaerat assumenda? Esse iusto quam qui corporis id. Quasi consectetur reiciendis esse eum eligendi
    corporis libero deleniti, veniam vel et facilis accusamus incidunt id ratione iure necessitatibus aspernatur
    reprehenderit consequatur itaque. Quis quasi eaque modi ratione libero ducimus quae, sequi fugiat rerum quisquam
    voluptatibus dolorem dignissimos ex ea fugit amet beatae animi nobis facilis molestiae aut distinctio sint ipsa
    nostrum. Vitae eligendi sequi labore dolorem magni ipsum molestias quis neque, deleniti quas laborum cum pariatur id
    consequuntur? Porro labore quam culpa, debitis autem cupiditate iste! Error autem magni aut, corrupti dignissimos
    cumque fugiat fuga odit eum, neque quibusdam sit aliquid eius nobis culpa ratione molestias excepturi deserunt
    mollitia repellat odio quae aperiam accusantium facere? Totam voluptatum nam exercitationem natus possimus, deleniti
    similique quisquam quam ea quasi soluta placeat asperiores id atque. Totam tempore dolor, doloremque nam accusamus
    fuga aspernatur sequi sint molestiae doloribus! Aspernatur reiciendis placeat sit repudiandae quia, eum corrupti
    facere praesentium, iste exercitationem, itaque quas pariatur cupiditate voluptates ea velit temporibus asperiores
    at minus. Aliquid iste deserunt alias quia velit asperiores magnam unde ab sequi quis! Consequatur necessitatibus
    exercitationem ipsam libero vero cupiditate totam placeat labore blanditiis laborum, tempore autem explicabo debitis
    quo officia! Distinctio, obcaecati quisquam. Voluptatum magnam at nostrum consectetur sunt ipsum optio iste
    perferendis, porro, eligendi veritatis enim nihil minima! Id consequuntur odit sit rem. Perferendis facilis
    incidunt, adipisci quae optio temporibus, quas enim necessitatibus sapiente beatae sequi quis at. Accusamus ratione
    architecto dolore ipsa sunt quibusdam ipsum quasi corporis illo eveniet dolores ad fugiat qui sequi assumenda at
    repudiandae doloribus, eligendi neque natus officia laborum! Velit quae mollitia fugiat distinctio illum, iste
    excepturi cumque blanditiis, fuga, esse aut quis officia. Quasi tempora maiores rerum architecto dolores enim
    repudiandae quis iusto, tempore corrupti illo reprehenderit, id repellat quod eius harum voluptatem? Id ratione quis
    corrupti repellat minus corporis sint ad deserunt, pariatur ipsum a! Ad distinctio perferendis voluptas, dolores
    nulla ipsum. Rerum, eius vel nesciunt, molestias cum asperiores ex, totam vitae nam at molestiae consequuntur
    repellendus fugit blanditiis fugiat. Vero perferendis accusamus, ullam eius saepe, dolorum deserunt cupiditate
    nesciunt vitae facere excepturi harum quos ad, in iure placeat? Dignissimos inventore numquam soluta officia
    quisquam impedit repellat recusandae placeat corrupti animi quis laborum vel alias consectetur, distinctio illo
    incidunt, doloremque iste quibusdam natus repellendus omnis vitae? Eaque neque eveniet omnis. Officia quae magnam
    harum ut, soluta velit voluptas quisquam eum nisi recusandae nesciunt odio? Excepturi distinctio adipisci fugiat
    enim quam iusto beatae, rerum amet iste blanditiis ipsum est, magnam eius optio? Optio debitis qui commodi facere
    quibusdam temporibus iure nesciunt, asperiores eaque exercitationem sit distinctio omnis veniam cumque. Quia,
    nostrum hic temporibus ducimus amet, non, eveniet sit dicta cupiditate quod expedita nulla id beatae? Eveniet eum
    iusto, minus odio vero delectus nulla ipsa quidem eaque soluta nostrum esse cupiditate libero quam reiciendis in
    impedit reprehenderit. Impedit, excepturi temporibus! Veniam nam aperiam dignissimos. Nam similique atque cum
    possimus at magni fugiat minima qui voluptatibus iste adipisci dolorem eum, ab nulla eius culpa quasi sapiente vitae
    quas optio corrupti non? Incidunt dolores minus necessitatibus, sapiente mollitia possimus ducimus soluta laborum,
    voluptate rem ad! Accusantium nostrum voluptate dignissimos omnis dolor sunt enim dolorem pariatur id dolore nihil
    fugit quibusdam rerum sapiente dolores, excepturi iure possimus porro. Placeat voluptate ut libero ipsam, mollitia
    commodi sint facere accusantium vitae possimus vel aperiam autem praesentium velit illum suscipit quas, eligendi
    adipisci corporis fugiat porro? Provident, dolor, nam repellendus incidunt delectus in, rem nobis sapiente quae
    minima laudantium soluta molestias! Harum tenetur neque dolorum placeat! Ipsam labore consequuntur autem sunt
    mollitia cumque eum a optio? Dicta ullam, distinctio doloribus aspernatur ipsum, odio iure mollitia repudiandae,
    quis asperiores consectetur. Facilis tempore, dolores alias expedita dicta vitae itaque quod ratione ipsum unde
    dolorem quam, sequi, enim harum? Similique dolorum ipsam explicabo ipsum. Magnam mollitia aliquid voluptate voluptas
    nobis aspernatur in illo vitae earum, delectus hic consectetur et molestias unde, quasi nostrum pariatur alias
    reprehenderit sunt itaque perspiciatis, eum maxime reiciendis? Fuga, deserunt incidunt explicabo voluptas quibusdam,
    id distinctio nisi ad ducimus excepturi odit minus, inventore ipsa voluptatibus quas aliquam obcaecati nulla
    repellendus. Vel consequuntur fuga, numquam commodi a est odit dolor, nostrum ut dolore distinctio earum totam ipsum
    nisi doloribus architecto deserunt fugit explicabo minus. Odit quaerat voluptatum commodi accusantium alias,
    perspiciatis, itaque debitis quia sapiente consectetur eos eius odio quibusdam dolore quas molestiae quam et quae
    vero. Tempora, beatae, maxime eaque temporibus mollitia asperiores reprehenderit labore ad sit nobis nesciunt velit,
    nulla et dolorem repellat. Ex aut corporis expedita facere placeat ea eos maiores autem molestias eaque itaque
    quisquam dolorum optio ratione fugit, maxime temporibus nobis accusamus eveniet iure assumenda voluptatibus aperiam
    explicabo fuga? Quis beatae enim quo, blanditiis amet voluptates sit inventore accusamus explicabo at aliquam vero
    labore laboriosam adipisci qui maiores ut quisquam. Veritatis sint maiores aperiam. Facere non aperiam nam!
    Consequatur quidem eum placeat doloribus aperiam ipsam, saepe beatae sed molestias labore enim officia earum alias
    minus quia recusandae numquam provident architecto, rem quibusdam unde voluptatum porro? Libero quibusdam molestiae
    eveniet fuga repudiandae facere ipsa minima adipisci ipsum nostrum aliquid praesentium possimus laborum at dolor
    dolore illo quis soluta saepe, explicabo facilis laudantium quos! Cumque, sequi deleniti velit fugiat soluta culpa
    et! Expedita fugit debitis dolorem, deleniti asperiores ipsa porro id quae facere tempore. Esse id dolorum iusto
    illo! Commodi odio necessitatibus eos atque sed veniam, voluptates aliquid sint tenetur ea eum cumque dolorum earum
    voluptatem officia cupiditate quos ad fugiat, porro provident quaerat praesentium maiores dicta labore. Sunt animi
    architecto cupiditate modi eum ducimus, nobis quisquam incidunt hic voluptas harum id doloribus maiores et! At
    ratione ab earum ut fuga quae aspernatur expedita excepturi dolorem. Id quam ab ea possimus porro dignissimos aut,
    doloribus iure aliquam asperiores magni quisquam voluptates saepe, praesentium ullam soluta repellat quod quasi
    autem nihil reiciendis illum obcaecati atque impedit. Culpa quos omnis blanditiis numquam, quidem accusantium qui!
    Quos dolore suscipit rem accusantium dolores? Velit nobis, iure fugiat et omnis itaque obcaecati aliquam. Inventore
    beatae ea repellendus commodi obcaecati nostrum minus fugiat hic rerum? Ipsum ut quo cupiditate consequuntur est
    sint quos veniam recusandae! Ut deserunt saepe qui laboriosam?</p>
</ion-content>
